* { margin: 0; padding: 0; }

body {
	width: 800px; /*just to make it look pretty and centered*/
	margin: 100px auto 0;
}

#carousel-nav { 
	display: none; 
	margin-top: 5px;
}

#carousel-nav button {
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#carousel {
	display:none;
	width: inherit;
	height: 500px;
	overflow: scroll;
}

#carousel ul {
	width: 10000px;
	list-style: none;
}

#carousel li {
	float: left;
}